Makefile.in
aclocal.m4
compile
config.*
configure
depcomp
install-sh
ltmain.sh
*.o
.deps/
.libs/
*.lo
*.la
*.a
m4/
missing
po/Makefile.in.in
*~
libtool
man/*.1
po/LINGUAS
po/POTFILES
po/*.gmo
po/stamp-it
stamp-h1
Makefile
src/.dirstamp
