#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#LDFLAGS+=-Wl,-z,defs -Wl,--as-needed

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure

override_dh_install:
	#Remove .la and .a files.
	find debian/tmp/usr/lib/ -name *.a |xargs rm
	find debian/tmp/usr/lib -name *.la |xargs rm
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=lxappearance-obconf-dbg
